XCoSS/target
aXCV/gen
aXCV/bin

xke-ng-web/lib_managed
xke-ng-web/project
xke-ng-web/target/
xke-ng-web/.idea/
xke-ng-web/ng-rest.iml
xke-ng-web/ng-rest.ipr
xke-ng-web/ng-rest.iws

MockServer/tmp
MockServer/logs/

.classpath
.project
.DS_Store
.settings
